/* Layout styles */

body {
	color: #000000; 
	background: #F3F3F0;
}

* {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 128.5%;
}

#main {
	width: 700px;
	position: relative;
	top: 16px;
	margin: auto;
	text-align: left;
	margin-bottom: 36px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	padding: 48px 36px 24px 36px;
}

#main-innerWrap {
	/* background: transparent url(./../images/l1_footer_bg.jpg) no-repeat left bottom; */
}
	
.content {
	/* margin-bottom: 36px; */
	/* margin: 24px 24px 36px 24px; */
	/* padding: 18px 18px 0; */
}

.content h1 {
	background-image: url(../img/logo_44px.png);
	background-repeat: no-repeat;
	background-position: top left;
	font-size: 22px;
	padding-left: 84px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#footer {
	clear: both;
	position: relative;
	width: 700px;
	height: 32px;
}

#copyright {
	display: none;
	font-size: 11px;
	line-height: 12px;
	position: absolute;
	/* left: 838px;
	top: 50px; */
}

#copyright a {
	font-size: 11px;
	line-height: 12px;
	color: #525050;
	margin-left: 2px;
}

#copyright a span {
	display: none;
}

