<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Starship Factory - Mitgliedschaftsantr&auml;ge</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<script src="/js/jquery.js" type="text/javascript"></script>
		<script src="/js/jquery.validate.min.js" type="text/javascript"></script>
		<script src="/js/jquery.mockjax.js" type="text/javascript"></script>
		<script src="/js/memberlist.js" type="text/javascript"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	</head>
	
	<body>
		<div class="modal fade" id="formUploadModal" tabindex="-1" role="dialog" aria-labelledby="formUploadLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		    <h4 class="modal-title" id="formUploadLabel">Mitgliedsantrag hochladen</h4>
		  </div>
		  <div class="modal-body">
		  	<div class="alert alert-warning alert-danger fade in hide" role="alert" id="agreementUploadError">
		  	  <strong>Fehler beim Hochladen des Antragsformulars!</strong>
		  	  <span id="agreementErrorText">Fehler?</span>
		  	</div>
		    <p>Ein Scan des unterschriebenen Mitgliedsantrages muss hochgeladen werden:</p>
		    <div id="agreementUploadProgress"></div>
		    <form role="form" id="agreementForm">
		      <input type="hidden" id="agreementId" name="agreementId" value="" />
		      <input type="hidden" id="agreementCsrfToken" name="csrfToken" value="{{$.ApprovalCsrfToken}}" />
		      <input type="hidden" id="agreementUploadCsrfToken" name="uploadCsrfToken" value="{{$.UploadCsrfToken}}" />
		      <fieldset>
		      	<label for="agreementFile">Mitgliedsantrag als PDF:</label>
		      	<input type="file" id="agreementFile" name="agreementFile" accept="application/pdf" onchange="agreementFileSelected();" value="" />
		      </fieldset>
		    </form>
		  </div>
		  <div class="modal-footer">
		    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    <button id="agreementUploadBtn" type="button" class="btn btn-primary" onclick="doUploadAgreement();">Antrag hochladen</a>
		  </div>
				</div>
			</div>
		</div>

		<h1>
			<img src="/img/logo_44px.png" title="Starship Factory Logo" alt="Starship Factory Logo" />
			Starship Factory <small>Mitgliederverwaltung</small>
		</h1>

		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#members" role="tab" data-toggle="tab">Mitglieder</a></li>
			<li><a href="#applicants" role="tab" data-toggle="tab">Mitgliedsantr&auml;ge</a></li>
			<li><a href="#queue" role="tab" data-toggle="tab">In Bearbeitung</a></li>
		</ul>

		<div class="container">
			<div class="tab-content">
				<div class="tab-pane fade in active" id="members">
					<p>Folgende Leute sind Mitglied in der der Starship Factory:</p>

					<table id="applicantlist" class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Adresse</th>
								<th>Ort</th>
								<th>Benutzer</th>
								<th>Email</th>
								<th>Beitrag</th>
								<th>Aktionen</th>
							</tr>
						</thead>
						<tbody>
{{range $app := .Members}}
							<tr id="{{.Email}}">
								<td>{{.Name}}</td>
								<td>{{.Street}}</td>
								<td>{{.City}}</td>
								<td>{{.Username}}</td>
								<td>{{.Email}}</td>
								<td>{{.Fee}} CHF pro {{if .FeeYearly|derefbool}}Jahr{{else}}Monat{{end}}</td>
								<td>
									&nbsp;
								</td>
							</tr>
{{else}}
							<tr>
								<td colspan="7">Derzeit verf&uuml;gen wir &uuml;ber keine Mitglieder.</td>
							</tr>
{{end}}
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="applicants">
					<p>Die folgenden Mitgliedschaftsantr&auml;ge sind derzeit h&auml;ngig:</p>

					<table id="applicantlist" class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Adresse</th>
								<th>Ort</th>
								<th>Angestrebter Beitrag</th>
								<th>Aktionen</th>
							</tr>
						</thead>
						<tbody>
{{range $app := .Applicants}}
							<tr id="{{.Key}}">
								<td>{{.Name}}</td>
								<td>{{.Street}}</td>
								<td>{{.City}}</td>
								<td>{{.Fee}} CHF pro {{if .FeeYearly|derefbool}}Jahr{{else}}Monat{{end}}</td>
								<td>
									<a href="javascript:openUploadAgreement(&quot;{{$app.Key}}&quot;, &quot;{{$.ApprovalCsrfToken}}&quot;, &quot;{{$.UploadCsrfToken}}&quot;);">Annehmen</a>
									<a href="javascript:rejectMember(&quot;{{$app.Key}}&quot;, &quot;{{$.RejectionCsrfToken}}&quot;);">Ablehnen</a>
								</td>
							</tr>
{{else}}
							<tr>
								<td colspan="5">Derzeit sind keine Mitgliedsantr&auml;ge h&auml;ngig.</td>
							</tr>
{{end}}
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="queue">
					<p>Die folgenden Mitgliedschaftsantr&auml;ge werden vom System bearbeitet:</p>

					<table id="queuelist" class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Adresse</th>
								<th>Ort</th>
								<th>Angestrebter Beitrag</th>
								<th>Aktionen</th>
							</tr>
						</thead>
						<tbody>
{{range $app := .Queue}}
							<tr id="q-{{.Key}}">
								<td>{{.Name}}</td>
								<td>{{.Street}}</td>
								<td>{{.City}}</td>
								<td>{{.Fee}} CHF pro {{if .FeeYearly|derefbool}}Jahr{{else}}Monat{{end}}</td>
								<td>
									<a href="javascript:cancelQueued(&quot;{{$app.Key}}&quot;, &quot;{{$.CancelCsrfToken}}&quot;);">Abbrechen</a>
								</td>
							</tr>
{{else}}
							<tr>
								<td colspan="5">Derzeit sind keine Mitgliedsantr&auml;ge in Verarbeitung.</td>
							</tr>
{{end}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
