<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Starship Factory - {{.Name}}</title>

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<script src="/js/jquery.js" type="text/javascript"></script>
		<script src="/js/jquery.validate.min.js" type="text/javascript"></script>
		<script src="/js/jquery.mockjax.js" type="text/javascript"></script>
		<script src="/js/memberlist.js" type="text/javascript"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	</head>

	<body>
		<h1>{{.Name}} <small>Starship Factory</small></h1>
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<strong>Name:</strong>
				</div>
				<div class="col-xs-8">
					{{.Name}}
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4">
					<strong>Adresse:</strong>
				</div>
				<div class="col-xs-8">
					<address>
						{{.Street}}<br/>
						{{.Zipcode}} {{.City}}<br/>
						{{.Country}}
					</address>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4">
					<strong>E-Mail:</strong>
				</div>
				<div class="col-xs-8">
					{{.Email}}
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4">
					<strong>Telephon:</strong>
				</div>
				<div class="col-xs-8">
					{{.Phone}}
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4">
					<strong>Beitrag:</strong>
				</div>
				<div class="col-xs-8">
					{{.Fee}} CHF/{{if .FeeYearly}}Jahr{{else}}Monat{{end}}
				</div>
			</div>

{{ if .Username }}
			<div class="row">
				<div class="col-xs-4">
					<strong>Benutzer:</strong>
				</div>
				<div class="col-xs-8">
					{{.Username}}
				</div>
			</div>
{{ end }}

			<div class="row">
				<div class="col-xs-4">
					<strong>Mitgliedsantrag:</strong>
				</div>
				<div class="col-xs-8">
					<a href="/takeout/pdf">Herunterladen</a>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4">
					<strong>VCard-Format:</strong>
				</div>
				<div class="col-xs-8">
					<a href="/takeout/vcf">Herunterladen</a>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					Sollten die hier vorgefundenen Daten nicht korrekt und aktuell sein, kannst du sie jederzeit durch ein Mail an <a href="mailto:kassier@lists.starship-factory.ch">den Kassier</a> korrigieren lassen.
					<br/>
					Du hast das Recht auf Löschung der obigen Daten. Die Löschung hat allerdings den Austritt aus dem Verein zur Folge, da wir nicht in der Lage sind, die Mitgliedschaft eines Mitgliedes zu verwalten ohne grundlegende Namens- und Kontaktdaten des Mitglieds zu speichern.
					<br/>
					Zudem gelten für die Löschung der obigen Daten rechtliche Speicherfristen sowie unser berechtigtes Interesse, ausstehende Mitgliedsbeiträge auszugleichen. Für weitere Informationen siehe unsere <a href="https://www.starship-factory.ch/datenschutz/">Datenschutzerklärung</a>.
				</div>
			</div>
		</div>
	</body>
</html>
