<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Starship Factory - Mitgliedschaftsantr&auml;ge</title>

		<script type="text/javascript" language="JavaScript">
		var page_size = {{.PageSize}};
		var member_offset = '';
		</script>
		<link rel="stylesheet" type="text/css" href="//static.starship-factory.ch/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script src="//static.starship-factory.ch/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
		<script src="/js/memberlist.js" type="text/javascript"></script>
		<script type="text/javascript" src="//static.starship-factory.ch/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body onload="load();">
		<div class="modal fade" id="reasonEnterModal" tabindex="-1" role="dialog" aria-labelledby="reasonEnterLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="reasonEnterLabel">Mitglied verabschieden</h4>
					</div>
					<div class="modal-body">
						<div class="alert alert-warning alert-danger fade in hide" role="alert" id="reasonEnterError">
							<strong>Fehler beim Verabschieden des Mitglieds!</strong>
							<span id="reasonEnterErrorText">Fehler?</span>
						</div>

						<p>Warum wird die Mitgliedschaft beendet?</p>

						<form role="form" id="reasonEnterForm">
							<input type="hidden" id="reasonUser" name="reasonUser" value="" />
							<input type="hidden" id="reasonCsrfToken" name="reasonCsrftoken" value="" />
							<fieldset>
								<label for="reasonText">Abschiedsgrund:</label>
								<input class="form-control input-sm" type="text" id="reasonText" name="reasonText" value="" />
							</fieldset>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id="reasonEnterBtn" type="button" class="btn btn-primary" onclick="doGoodbyeMember();">Verabschieden</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="memberDetailModal" tabindex="-1" role="dialog" aria-labelledby="memberDetailLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="memberDetailLabel">Mitgliederdetails</h4>
					</div>
					<div class="modal-body">
						<div class="alert alert-warning alert-danger fade in hide" role="alert" id="memberDetailError">
							<strong id="memberDetailErrorTitle">Fehler beim Anzeigen des Mitglieds!</strong>
							<span id="memberDetailErrorText">Fehler?</span>
						</div>

						<div class="container" id="memberDetailData">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="memberFeeEditModal" tabindex="-1" role="dialog" aria-labelledby="memberFeeEditLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="memberFeeEditLabel">Mitgliederbeitrag bearbeiten</h4>
					</div>
					<div class="modal-body">
						<div class="alert alert-warning alert-danger fade in hide" role="alert" id="memberFeeEditError">
							<strong>Fehler beim Bearbeiten des Mitgliedsbeitrages!</strong>
							<span id="memberFeeEditErrorText">Fehler?</span>
						</div>

						<input type="hidden" name="memberFeeMail" id="memberFeeMail" value=""/>
						<fieldset>
							<div class="form-group">
								<label for="memberFeeField">Mitgliedsbeitrag</label>
								<input type="number" id="memberFeeField" placeholder="x CHF" />
							</div>
							<div class="form-group">
								<label class="radio-inline" for="memberFeeIntervalMonthly">
									<input type="radio" id="memberFeeIntervalMonthly" name="memberFeeInterval"/>
									pro Monat
								</label>
							</div>
							<div class="form-group">
								<label class="radio-inline" for="memberFeeIntervalYearly">
									<input type="radio" id="memberFeeIntervalYearly" name="memberFeeInterval"/>
									pro Jahr
								</label>
							</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id="memberFeeEditBtn" type="button" class="btn btn-primary" onclick="doEditMembershipFee();">Festlegen</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="memberAddressEditModal" tabindex="-1" role="dialog" aria-labelledby="memberAddressEditLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="memberAddressEditLabel">Addresse bearbeiten</h4>
					</div>
					<div class="modal-body">
						<div class="alert alert-warning alert-danger fade in hide" role="alert" id="memberAddressEditError">
							<strong>Fehler beim Bearbeiten der Addresse!</strong>
							<span id="memberAddressEditText">Fehler?</span>
						</div>

						<input type="hidden" name="memberAddressMail" id="memberAddressMail" value=""/>
						<fieldset>
							<div class="form-group">
								<label for="memberAddressStreetField">Strasse</label>
								<input type="text" id="memberAddressStreetField" placeholder="Strasse Hausnummer" />
								<input type="hidden" id="memberAddressStreetOrig" value="" />
							</div>
							<div class="form-group">
								<label for="memberAddressZipcodeField">Postleitzahl</label>
								<input type="text" id="memberAddressZipcodeField" placeholder="Postleitzahl" />
								<input type="hidden" id="memberAddressZipcodeOrig" value="" />
							</div>
							<div class="form-group">
								<label for="memberAddressCityField">Wohnort</label>
								<input type="text" id="memberAddressCityField" placeholder="Ortsname" />
								<input type="hidden" id="memberAddressCityOrig" value="" />
							</div>
							<div class="form-group">
								<label for="memberAddressCountryField">ISO-Ländercode</label>
								<input type="text" id="memberAddressCountryField" placeholder="XX" />
								<input type="hidden" id="memberAddressCountryOrig" value="" />
							</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id="mmemberAddressEditBtn" type="button" class="btn btn-primary" onclick="doEditMemberAddress();">Speichern</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="memberPhoneEditModal" tabindex="-1" role="dialog" aria-labelledby="memberPhoneEditLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="memberPhoneEditLabel">Telephonnummer bearbeiten</h4>
					</div>
					<div class="modal-body">
						<div class="alert alert-warning alert-danger fade in hide" role="alert" id="memberPhoneEditError">
							<strong>Fehler beim Bearbeiten der Telephonnummer!</strong>
							<span id="memberPhoneEditText">Fehler?</span>
						</div>

						<input type="hidden" name="memberPhoneMail" id="memberPhoneMail" value=""/>
						<fieldset>
							<div class="form-group">
								<label for="memberPhoneNumberField">Strasse</label>
								<input type="text" id="memberPhoneNumberField" placeholder="+4112345678" />
							</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id="mmemberPhoneEditBtn" type="button" class="btn btn-primary" onclick="doEditMemberPhone();">Speichern</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="memberUserEditModal" tabindex="-1" role="dialog" aria-labelledby="memberUserEditLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="memberUserEditLabel">Benutzernamen bearbeiten</h4>
					</div>
					<div class="modal-body">
						<div class="alert alert-warning alert-danger" role="alert">
							<strong>Achtung</strong>
							Das Ändern des Benutzernamens hier ändert den Benutzernamen in LDAP <b>nicht</b>! Diese Funktion ist nur zum Nachführen bereits durchgeführter Änderungen.
						</div>

						<div class="alert alert-warning alert-danger fade in hide" role="alert" id="memberUserEditError">
							<strong>Fehler beim Bearbeiten des Benutzernamens!</strong>
							<span id="memberUserEditText">Fehler?</span>
						</div>

						<input type="hidden" name="memberUserMail" id="memberUserMail" value=""/>
						<fieldset>
							<div class="form-group">
								<label for="memberUserField">Benutzername</label>
								<input type="text" id="memberUserField" placeholder="userlein" />
							</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id="mmemberUserEditBtn" type="button" class="btn btn-primary" onclick="doEditMemberUser();">Speichern</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="formUploadModal" tabindex="-1" role="dialog" aria-labelledby="formUploadLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		    <h4 class="modal-title" id="formUploadLabel">Mitgliedsantrag hochladen</h4>
		  </div>
		  <div class="modal-body">
		  	<div class="alert alert-warning alert-danger fade in hide" role="alert" id="agreementUploadError">
		  	  <strong>Fehler beim Hochladen des Antragsformulars!</strong>
		  	  <span id="agreementErrorText">Fehler?</span>
		  	</div>
		    <p>Ein Scan des unterschriebenen Mitgliedsantrages muss hochgeladen werden:</p>
		    <div id="agreementUploadProgress"></div>
		    <form role="form" id="agreementForm">
		      <input type="hidden" id="agreementId" name="agreementId" value="" />
		      <input type="hidden" id="agreementCsrfToken" name="csrfToken" value="{{$.ApprovalCsrfToken}}" />
		      <input type="hidden" id="agreementUploadCsrfToken" name="uploadCsrfToken" value="{{$.UploadCsrfToken}}" />
		      <fieldset>
		      	<label for="agreementFile">Mitgliedsantrag als PDF:</label>
		      	<input type="file" id="agreementFile" name="agreementFile" accept="application/pdf" onchange="agreementFileSelected();" value="" />
		      </fieldset>
		    </form>
		  </div>
		  <div class="modal-footer">
		    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    <button id="agreementUploadBtn" type="button" class="btn btn-primary" onclick="doUploadAgreement();">Antrag hochladen</button>
		  </div>
				</div>
			</div>
		</div>

		<h1>
			<img src="/img/logo_44px.png" title="Starship Factory Logo" alt="Starship Factory Logo" />
			Starship Factory <small>Mitgliederverwaltung</small>
		</h1>

		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#members" role="tab" data-toggle="tab">Mitglieder</a></li>
			<li><a href="#applicants" role="tab" data-toggle="tab">Mitgliedsantr&auml;ge</a></li>
			<li><a href="#queue" role="tab" data-toggle="tab">In Bearbeitung</a></li>
			<li><a href="#dequeue" role="tab" data-toggle="tab">L&ouml;schvorg&auml;nge</a></li>
			<li><a href="#trash" role="tab" data-toggle="tab">Gel&ouml;scht</a></li>
		</ul>

		<div class="container">
			<div class="tab-content">
				<div class="tab-pane fade in active" id="members">
					<p>Folgende Leute sind Mitglied in der der Starship Factory:</p>

					<table id="memberlist" class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Ort</th>
								<th>Benutzer</th>
								<th>Email</th>
								<th>Beitrag</th>
								<th>Schl&uuml;ssel</th>
								<th>Bezahlt bis</th>
								<th>Aktionen</th>
							</tr>
						</thead>
						<tbody>
{{range $app := .Members}}
							<tr id="mem-{{.Email}}">
								<td>{{.Name}}</td>
								<td>{{.City}}</td>
								<td>{{.Username}}</td>
								<td>{{.Email}}</td>
								<td>{{.Fee}} CHF pro {{if .FeeYearly|derefbool}}Jahr{{else}}Monat{{end}}</td>
								<td>{{if .HasKey|derefbool}}ja{{else}}nein{{end}}</td>
								<td>{{if .PaymentsCaughtUpTo}}{{.PaymentsCaughtUpTo}}{{end}}</td>
								<td>{{.}}</td>
								<td>
									<a href="javascript:void(goodbyeMember(&quot;{{.Email}}&quot;, &quot;{{$.GoodbyeCsrfToken}}&quot;));">Verabschieden</a>
									<a href="javascript:void(loadMember(&quot;{{.Email}}&quot;));">Details</a>
								</td>
							</tr>
{{else}}
							<tr>
								<td colspan="7">Derzeit verf&uuml;gen wir &uuml;ber keine Mitglieder.</td>
							</tr>
{{end}}
						</tbody>
					</table>
					<ul class="pager">
						<li class="previous disabled"><a href="javascript:void(loadMembers(&quot;&quot;));">&larr; Beginn</a></li>
						<li class="next"><a href="javascript:void(forwardMembers());">Weiter &rarr;</a></li>
					</ul>
				</div>
				<div class="tab-pane fade" id="applicants">
					<fieldset>
						<label for="applicantsearch">Antrag nach Barcode suchen:</label>
						<input class="form-control input-sm" type="number" id="applicantsearch" placeholder="Barcode auf Antragsformular scannen" onblur="loadApplicants(&quot;&quot;, this.value, true);" />
					</fieldset>
					<p>Die folgenden Mitgliedschaftsantr&auml;ge sind derzeit h&auml;ngig:</p>

					<table id="applicantlist" class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Adresse</th>
								<th>Ort</th>
								<th>Angestrebter Beitrag</th>
								<th>Aktionen</th>
							</tr>
						</thead>
						<tbody>
{{range $app := .Applicants}}
							<tr id="{{.Key}}">
								<td>{{.Name}}</td>
								<td>{{.Street}}</td>
								<td>{{.City}}</td>
								<td>{{.Fee}} CHF pro {{if .FeeYearly|derefbool}}Jahr{{else}}Monat{{end}}</td>
								<td>
									<a href="javascript:void(openUploadAgreement(&quot;{{$app.Key}}&quot;, &quot;{{$.ApprovalCsrfToken}}&quot;, &quot;{{$.UploadCsrfToken}}&quot;));">Annehmen</a>
									<a href="javascript:void(rejectMember(&quot;{{$app.Key}}&quot;, &quot;{{$.RejectionCsrfToken}}&quot;));">Ablehnen</a>
								</td>
							</tr>
{{else}}
							<tr>
								<td colspan="5">Derzeit sind keine Mitgliedsantr&auml;ge h&auml;ngig.</td>
							</tr>
{{end}}
						</tbody>
					</table>
					<ul class="pager">
						<li class="previous disabled"><a href="javascript:void(loadApplicants(&quot;&quot;, &quot;&quot;));">&larr; Beginn</a></li>
						<li class="next"><a href="javascript:void(forwardApplicants());">Weiter &rarr;</a></li>
					</ul>
				</div>
				<div class="tab-pane fade" id="queue">
					<p>Die folgenden Mitgliedschaftsantr&auml;ge werden vom System bearbeitet:</p>

					<table id="queuelist" class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Adresse</th>
								<th>Ort</th>
								<th>Benutzername</th>
								<th>E-Mail</th>
								<th>Angestrebter Beitrag</th>
								<th>Aktionen</th>
							</tr>
						</thead>
						<tbody>
{{range $app := .Queue}}
							<tr id="q-{{.Key}}">
								<td>{{.Name}}</td>
								<td>{{.Street}}</td>
								<td>{{.City}}</td>
								<td>{{.Username}}</td>
								<td>{{.Email}}</td>
								<td>{{.Fee}} CHF pro {{if .FeeYearly|derefbool}}Jahr{{else}}Monat{{end}}</td>
								<td>
									<a href="javascript:void(cancelQueued(&quot;{{$app.Key}}&quot;, &quot;{{$.CancelCsrfToken}}&quot;));">Abbrechen</a>
								</td>
							</tr>
{{else}}
							<tr>
								<td colspan="5">Derzeit sind keine Mitgliedsantr&auml;ge in Verarbeitung.</td>
							</tr>
{{end}}
						</tbody>
					</table>
					<ul class="pager">
						<li class="previous disabled"><a href="javascript:void(loadQueue(&quot;&quot;));">&larr; Beginn</a></li>
						<li class="next"><a href="javascript:void(forwardQueue());">Weiter &rarr;</a></li>
					</ul>
				</div>
				<div class="tab-pane fade" id="dequeue">
					<p>Die folgenden Mitgliedskonten werden vom System gelöscht:</p>

					<table id="dequeuelist" class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Adresse</th>
								<th>Ort</th>
								<th>Benutzername</th>
								<th>E-Mail</th>
								<th>Ehemaliger Beitrag</th>
							</tr>
						</thead>
						<tbody>
{{range $app := .DeQueue}}
							<tr id="dq-{{.Key}}">
								<td>{{.Name}}</td>
								<td>{{.Street}}</td>
								<td>{{.City}}</td>
								<td>{{.Username}}</td>
								<td>{{.Email}}</td>
								<td>{{.Fee}} CHF pro {{if .FeeYearly|derefbool}}Jahr{{else}}Monat{{end}}</td>
							</tr>
{{else}}
							<tr>
								<td colspan="4">Derzeit sind keine Mitgliedsantr&auml;ge in Verarbeitung.</td>
							</tr>
{{end}}
						</tbody>
					</table>
					<ul class="pager">
						<li class="previous disabled"><a href="javascript:void(loadDequeue(&quot;&quot;));">&larr; Beginn</a></li>
						<li class="next"><a href="javascript:void(forwardDequeue());">Weiter &rarr;</a></li>
					</ul>
				</div>
				<div class="tab-pane fade" id="trash">
					<p>Die folgenden Mitgliedschaftsantr&auml;ge wurden gel&ouml;scht:</p>

					<table id="trashlist" class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Adresse</th>
								<th>Ort</th>
								<th>Angestrebter Beitrag</th>
							</tr>
						</thead>
						<tbody>
{{range $app := .Trash}}
							<tr id="tr-{{.Key}}">
								<td>{{.Name}}</td>
								<td>{{.Street}}</td>
								<td>{{.City}}</td>
								<td>{{.Fee}} CHF pro {{if .FeeYearly|derefbool}}Jahr{{else}}Monat{{end}}</td>
							</tr>
{{else}}
							<tr>
								<td colspan="4">Derzeit liegen keine gel&ouml;schten Mitgliedsantr&auml;ge vor.</td>
							</tr>
{{end}}
						</tbody>
					</table>
					<ul class="pager">
						<li class="previous disabled"><a href="javascript:void(loadTrash(&quot;&quot;));">&larr; Beginn</a></li>
						<li class="next"><a href="javascript:void(forwardTrash());">Weiter &rarr;</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
