<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Starship Factory - Mitgliedschaftsantrag: Druckansicht</title>
		<link rel="stylesheet" href="./css/base.css" type="text/css" />
		<link rel="stylesheet" href="./css/layout.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="./css/content.css" type="text/css" />
		<link rel="stylesheet" href="./css/print.css" type="text/css" media="print" />
	</head>

	<body>
		<div id="main">
			<div class="content print">
				<h1>
					<img src="./img/logo_44px.png" title="Starship Factory Logo" alt="Starship Factory Logo" />
					Starship Factory<br /><span>Mitgliedschaftsantrag</span>
				</h1>
				<div id="addressLabel">
					<p>
						<em>Starship Factory<br />
						4000 Basel<br />
						Switzerland</em>
					</p>
					<p style="font-size: 9pt; line-height: 12pt">
						www.starship-factory.ch<br />
						open@lists.starship-factory.ch
					</p>
				</div>

					<h2>Personalien</h2>
					<div class="printRow">
						<div class="printRowTitle">Name:</div>
						<div class="printRowData">{{.MemberData.Name}}</div>
					</div>
					<div class="printRow">
						<div class="printRowTitle">Strasse, Nr.:</div>
						<div class="printRowData">{{.MemberData.Street}}</div>
					</div>
					<div class="printRow">
						<div class="printRowTitle">PLZ, Ort:</div>
						<div class="printRowData">{{.MemberData.Zipcode}} {{.MemberData.City}}
						<br />
						{{.MemberData.Country}}
						</div>
					</div>
					<div class="printRow">
						<div class="printRowTitle">E-Mail Adresse:</div>
						<div class="printRowData">{{.MemberData.Email}}</div>
					</div>
{{if .MemberData.Phone|len}}
					<div class="printRow">
						<div class="printRowTitle">Telefonnummer:</div>
						<div class="printRowData">{{.MemberData.Phone}}</div>
					</div>
{{end}}
					<p><br /></p>
					<h2>Mitgliedschaft</h2>
					<div class="printRow">
						<div class="printRowTitle">Mitgliederbeitrag:</div>
						<div class="printRowData">SFr. {{.MemberData.Fee}}.-- / {{if .MemberData.FeeYearly}}Jahr{{else}}Monat{{end}}</div>
					</div>
{{if .MemberData.Username}}
					<div class="printRow">
						<div class="printRowTitle">Benutzername:</div>
						<div class="printRowData">{{.MemberData.Username}}</div>
					</div>
{{end}}
					<div class="printRow">
						<div class="printRowTitle"></div>
						<div class="printRowData"><strong class="marked">X</strong>
							Ich habe die Statuten gelesen und akzeptiere diese.</div>
					</div>
					<div class="printRow">
						<div class="printRowTitle"></div>
						<div class="printRowData"><strong class="marked">X</strong>
							Ich habe das Reglement gelesen und akzeptiere dieses.</div>
					</div>
					<div class="printRow">
						<div class="printRowTitle"></div>
						<div class="printRowData"><strong class="marked">X</strong>
							Ich werde verbindlich den Mitgliederbeitrag {{if .MemberData.FeeYearly}}jährlich{{else}}monatlich{{end}}
							im Voraus auf das Vereinskonto überweisen.</div>
					</div>
					<div class="printRow">
						<div class="printRowTitle"></div>
						<div class="printRowData"><strong class="marked">X</strong> Ich bin mindestens 18 Jahre alt.</div>
					</div>
					<div class="printRow">
						<div class="printRowTitle"></div>
						<div class="printRowData"><strong class="marked">X</strong> Ich habe die Datenschutzerklärung gelesen und erlaube dem Verein Starship Factory, die oben eingegebenen Daten elektronisch zu speichern und zum Zwecke der Mitgliederverwaltung auszuwerten.</div>
					</div>
					<div class="printRow">
						<div class="printRowTitle"></div>
						<div class="printRowData"><strong class="marked">X</strong> Ich erlaube dem Verein Starship Factory und seinen Mitgliedern, mich über die oben eingegebene E-Mailadresse über Themen betreffend meiner Mitgliedschaft und meiner Mitbestimmung zu kontaktieren.</div>
					</div>
{{if .Metadata}}{{if .Metadata.Comment}}
					<div class="printRow">
						<div class="printRowTitle">Kommentare</div>
						<div class="printRowData">{{.Metadata.Comment}}</div>
					</div>
{{end}}{{end}}
					<div class="printRowOpen">
						<div class="printRowTitle">Ort, Datum</div>
						<div class="printRowData"><strong>Unterschrift</strong></div>
					</div>
					<p><br /></p>
					<img src="/barcode?id={{.Key}}" alt="{{.Key}}" title="{{.Key}}" align="right" />
					<form action="">
						<fieldset class="stdForm" title="Drucken">
							<div class="formRow">
								<input type="button" name="print" value="Drucken" onclick="javascript:window.print()" />
							</div>
						</fieldset>
					</form>
					<p class="noprint">

					</p>
			</div>
		</div>
	</body>
</html>
